:root {
  --top-background: linear-gradient(
    -225deg,
    rgb(183, 248, 219) 0%,
    rgb(80, 167, 194) 100%
  );
}

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

button {
  border-radius: 15%;
  margin-top: -70px;
}

h1,
h2,
h3,
p {
  text-align: center;
}

p {
  padding: 5px 5px 10px 10px;
}
h3 {
  color: rgb(73, 73, 73);
}
h1 {
  font-family: "Combo", cursive;
  font-weight: bold;
}
h2,
h3 {
  font-family: Monsterat;
}

ul {
  list-style: none;
}

.all-icon {
  display: flex;
  justify-content: center;
}

.icon {
  padding: 10px 10px;
  color: black;
  font-size: 35px !important;
}

.icon:hover {
  color: rgb(80, 167, 194);
}

.photo-me {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 25%;
  height: auto;
}
.photo-me-about {
  width: 75%;
  border-radius: 15%;
}
.project-photo {
  margin-left: 100px;
}
.top-style {
  background: var(--top-background);
  margin: auto 100px;
}

.newtext {
  text-align: center;
}

.options-of-work {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.options-of-work button {
  margin: 20px 15px;
  padding: 20px;
}

.button-center {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.home-button {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}

.about-press {
  text-decoration: none;
  color: black;
}

.text-not-centered {
  text-align: left;
}

.navbar {
  position: sticky;
  top: 1px;
}

.top {
  padding-top: 50px !important;
}

.olena {
  padding: 50px;
}

.responsibel {
  padding: 30px 50px 0px 50px;
}

.text-same {
  font-family: "Combo", cursive;
  font-size: 30px;
}

.logo-laso {
  display: block;
  margin: 0 auto;
}

.photo-laso {
  margin: 10px 0px 10px 0px !important;
}

.photo-project {
  width: 100%;
  padding: 20px 30px;
}

.photo-project:hover {
  transform: scale(1.1);
}
.photo-article {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 10%;
}
.link-article {
  text-decoration: none;
  color: black;
}
.link-article h3:hover {
  color: rgb(80, 167, 194);
}
.link-article:hover {
  color: rgb(80, 167, 194);
}
.video {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.new {
  padding: 5px 5px;
}
@media (max-width: 600px) {
  .photo-me {
    width: 50%;
  }

  .project-photo {
    display: block !important;
    margin: 0 auto !important;
  }

  .photo-me-about {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .top-style {
    margin: 0 auto;
  }

  .olena {
    padding-top: 5px !important;
  }

  .options-of-work button {
    display: block;
    margin: 10px auto;
  }
  .navbar {
    margin-top: 35px;
  }

  .text-same {
    font-family: "Combo", cursive;
    font-size: 20px;
  }

  .contact-my h2 {
    font-size: 20px;
  }

  .link-article {
    font-size: smaller;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .second button {
    margin: 10px 10px;
  }
  .button-52 {
    padding: 13px 50px 13px;
  }
}
